body {
    margin: 0;
    font-family: 'Geologica', sans-serif;
    background: linear-gradient(45deg, #0a0f1a, #141b2d);
    color: white;
    min-height: 100vh;
}

html {
    height: auto;
}

* {
    box-sizing: border-box;
}